body {
  font-family: 'Alif', sans-serif;
  text-align: center;
  font-weight: 300;
}

.container {
  width: 1024px;
  margin: 0px auto;
  text-align: left;
}

.header {
  padding-top: 25px;
  height: 40px;
  color: #3498db;
  text-align: center;
  margin-bottom: 17px;
  opacity: 0;
}

.header .logo {
  font-size: 32px;
  float: left;
}

.header .slogan {
  float: left;
  padding-top: 18px;
}

.header .promo {
  padding-top: 10px;
  float: right;
}

.content {
  top: 63px;
  left: 160px;
  z-index: 100;
  position: absolute;
  text-align: center;
}

.main-screenshot {
  float: left;
  width: 600px;
  height: 400px;
  background-image: url('../images/iphone.png');
  background-repeat: no-repeat;
  opacity: 0;
}

.main-promo {
  float: left;
  width: 400px;
  height: 400px;
}

/* Elements */
.button {
  height: 44px;
  width: 300px;
  background-color: #f39c12;
  border-bottom: 4px solid #e67e22;
  cursor: pointer;
}

.button .text {
  text-align: center;
  padding-top: 14px;
  color: #fff;
}

.download {
  opacity: 0;
}